body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #e0dcdc;
    color: #fff;
}

.header {
    text-align: center;
    padding: 5px;
    background: #211f1f;
}

.catalogo {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 25px;
    padding: 40px;
}

.card {
    background: #000000;
    border-radius: 12px;
    overflow: hidden;
    transition: transform .3s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 15px;
}

.estado {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 6px;
    font-size: 13px;
    margin-bottom: 10px;
}

.Agotado {
    background: #ff0000;
    text-align: center;
    margin-bottom: 20px;
    font-size: 12px;
}

.nuevo {
    background: #28a745;
}

.usado {
    background: #ffc107;
    color: #000;
}

.precio {
    font-size: 18px;
    color: #00ffcc;
    font-weight: bold;
}


.modal {
    display: none;
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,.85);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: #000000;
    padding: 25px;
    border-radius: 12px;
    width: 90%;
    max-width: 500px;
}

.modal-content img {
    width: 100%;
    border-radius: 10px;
}

.close {
    float: right;
    font-size: 25px;
    cursor: pointer;
}

.menu{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:280px;
  background:linear-gradient(180deg,#0f2027,#203a43,#2c5364);
  padding-top:90px;
  align-items: fixed;
  display:flex;
  flex-direction:column;
  gap:10px;

  transform:translateX(-100%);
  transition:0.35s ease;
  box-shadow:5px 0 25px rgba(0,0,0,0.5);
  z-index:1000;
}

.menu a{
  color:white;
  text-decoration:none;
  padding:15px 25px;
  font-size:16px;
  border-left:4px solid transparent;
  transition:0.3s;
}

.menu a:hover{
  background:rgba(255,255,255,0.1);
  border-left:4px solid #00e5ff;
  padding-left:35px;
}


.menu.active{
  transform:translateX(0);
}

header img {
  position:absolute;
  top:-5px;
  left:15px;
  width:200px;
  cursor:pointer;
}

footer {
    background: #1e1e1e;
    color: #ccc;
    text-align: center;
    padding: 20px;
    font-size: 0.4cm;
}

.filtro {
    margin-top: 25px;
    height: 50px;
    margin-left: 1350px;
    text-align: center;
}

