.contenedor {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.lista {
  width: 40%;
}

.card {
  display: flex;
  align-items: center;
  gap: 15px;
  background: #fff;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.card:hover {
  border-left: 5px solid rgb(84, 82, 82);
}   

.card img {
  width: 80px;
  height: auto;
}

.detalle {
  width: 60%;
  margin-bottom: 600px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 6px rgba(0,0,0,.1);
}

.header {
    padding: 70px;
    margin-left: -100px;
    margin-right: -8px;
    margin-top: -10px;
    background: #211f1f;
}

.menu{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:280px;
  background:linear-gradient(180deg,#0f2027,#203a43,#2c5364);
  padding-top:90px;
  align-items: fixed;
  display:flex;
  flex-direction:column;
  gap:10px;

  transform:translateX(-100%);
  transition:0.35s ease;
  box-shadow:5px 0 25px rgba(0,0,0,0.5);
  z-index:1000;
}

.menu a{
  color:white;
  text-decoration:none;
  padding:15px 25px;
  font-size:16px;
  border-left:4px solid transparent;
  transition:0.3s;
}

.menu a:hover{
  background:rgba(255,255,255,0.1);
  border-left:4px solid #00e5ff;
  padding-left:35px;
}


.menu.active{
  transform:translateX(0);
}

header img {
  position:absolute;
  top:-5px;
  left:15px;
  width:200px;
  cursor:pointer;
}

footer {
    background: #1e1e1e;
    color: #ccc;
    text-align: center;
    padding: 20px;
    font-size: 0.4cm;
}



