.menu{
  position:fixed;
  top:0;
  left:0;
  height:100vh;
  width:280px;
  background:linear-gradient(180deg,#0f2027,#203a43,#2c5364);
  padding-top:90px;
  align-items: fixed;
  display:flex;
  flex-direction:column;
  gap:10px;

  transform:translateX(-100%);
  transition:0.35s ease;
  box-shadow:5px 0 25px rgba(0,0,0,0.5);
  z-index:1000;
}

.menu a{
  color:white;
  text-decoration:none;
  padding:15px 25px;
  font-size:16px;
  border-left:4px solid transparent;
  transition:0.3s;
}

.menu a:hover{
  background:rgba(255,255,255,0.1);
  border-left:4px solid #00e5ff;
  padding-left:35px;
}


.menu.active{
  transform:translateX(0);
}

header img {
  position:absolute;
  top:-5px;
  left:15px;
  width:200px;
  cursor:pointer;
}

h1 {
  text-align: center;
  font-size: 60px;
  min-height: -20vh;
  margin-top: 100px;
  color: #d5d7d7;
  font-family: 'Arial', sans-serif;
}

p {
  text-align: center;
  color: #c0bdbd;
  font-family: Arial, sans-serif;
  font-size: 18px;
}   

body {
  margin: 0;
  font-size: 16px;
  background-color: #514f4f;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  image-rendering: auto;
  font-family: 'Arial', sans-serif;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.45); 
  z-index: -1;
}

.web-logo {
  
  display: block;
  margin: 100px auto;
  width: 700px;
  height: auto;
}

footer {
    background: #1e1e1e;
    color: #ccc;
    text-align: center;
    padding: 26px;
    font-size: 0.4cm;
}


